/*VARIABLES COLORES*/
/*GENERALES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: unset;
}
body {
  font-family: 'Roboto', sans-serif;
  color: white;
}
img {
  vertical-align: top;
  max-width: 100%;
}
img.background {
  position: absolute;
  z-index: -10;
}
.items-applying-res {
  display: none;
}
.title-section {
  margin: auto;
  text-align: center;
  padding-top: 40px;
}
.title-section h2 {
  font-size: 49px;
  font-weight: 300;
}
.title-section h2 strong {
  color: #F48B12;
}
.title-section p {
  color: white !important;
  margin-top: 20px !important;
}
.marcas-aws a img {
  display: none;
}
.img-full {
  display: none;
}
.tab-responsive {
  display: none;
}
header {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #231F20;
  justify-content: space-between;
  padding: 0 93px;
  position: fixed;
  width: 100%;
  z-index: 100;
}
header .logo-header {
  width: 193px;
}
header .menu-header {
  display: flex;
}
header .menu-header a {
  margin-left: 30px;
  font-size: 16px;
  font-weight: 500;
}
header .menu-header a:last-child {
  margin-left: 40px;
}
/*SECTION PRIMER FRAME*/
.videoBackground {
    position: absolute;
    left: 0;
    z-index: -9;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#first-frame {
  padding: 0 10%;
  height: 100vh;
  display: flex;
  z-index: -20;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
#first-frame:before{ 
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;  
  background-image: url(../img/fondos/fondo-applying-web-01.png);
  background-position-y: center;      
  z-index: -8;
  opacity: 0.6;
}
#first-frame img.background {
  position: absolute;
  z-index: -10;
  width: 100%;
  top: 0;
  /* filter: brightness(0.25); */
  opacity: 0.2;
}
#first-frame .your-partner {
  display: flex;
  align-items: center;
  width: 1020px;
  height: 286.4px;
  position: relative;
}
#first-frame .your-partner .absolute-1 {
  width: 100px;
  height: 73px;
  border-top: 1px solid #F69621;
  border-left: 1px solid #F69621;
  position: absolute;
  left: 0;
  top: 0;
}
#first-frame .your-partner .absolute-2 {
  width: 100px;
  height: 73px;
  border-top: 1px solid #F69621;
  border-right: 1px solid #F69621;
  position: absolute;
  right: 0;
  top: 0;
}
#first-frame .your-partner .absolute-3 {
  width: 100px;
  height: 73px;
  border-left: 1px solid #F69621;
  border-bottom: 1px solid #F69621;
  position: absolute;
  left: 0;
  bottom: 0;
}
#first-frame .your-partner .absolute-4 {
  width: 100px;
  height: 73px;
  border-right: 1px solid #F69621;
  border-bottom: 1px solid #F69621;
  position: absolute;
  right: 0;
  bottom: 0;
}
#first-frame .your-partner .item-partner {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#first-frame .your-partner .item-partner h2 {
  font-size: 60px;
  font-weight: bold;
}
#first-frame .your-partner .item-partner h3 {
  font-size: 60px;
  font-weight: 400;
}
#first-frame .your-partner .item-partner p {
  font-size: 21px;
  font-weight: 100;
  margin-top: 15px;
  margin-bottom: 25px;
}
#first-frame .your-partner .item-partner button {
  background-color: #F69621;
  border: unset;
  color: white;
  width: 186px;
  height: 28px;
  position: relative;
  bottom: -27px;
  display: flex;
  justify-content: center;
  align-items: center;
  place-content: space-evenly;
  border-radius: 10px;
  font-size: 16px;
  overflow: hidden; 
}
#first-frame .your-partner .item-partner button img {
  width: 20px;
  transition: 0.3s;
}
#first-frame .your-partner .item-partner button:hover {
  padding-left: 20px;
}
#first-frame .your-partner .item-partner button:hover img {
  transform: translateX(30px) translateY(-30px);
}
/*#first-frame .your-partner .item-partner button {
  background-color: #F69621;
  border: unset;
  color: white;
  width: 186px;
  height: 28px;
  position: relative;
  bottom: -27px;
  display: flex;
  justify-content: center;
  align-items: center;
  place-content: space-evenly;
  border-radius: 10px;
  font-size: 16px;
  overflow: hidden; 
}
#first-frame .your-partner .item-partner button:hover {
  padding-left: 20px;
}
#first-frame .your-partner .item-partner button:hover img {
  transform: translateX(30px) translateY(-30px);
}
#first-frame .your-partner .item-partner button img {
  width: 20px;
}*/
/*ICONOS FLOTANTES*/
.iconos-flotantes a:hover p {
  opacity: 1;
}
.iconos-flotantes p {
  opacity: 0;
  transition: 0.3s;
}
/*MARCAS DESKTOP*/
.marcas-aws a img {
  max-width: 70px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
/*----------SEXTION CONSULTAS......*/
section.consulting-parter {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  display: flex;
  position: relative;
}
section.consulting-parter img.background {
  position: absolute;
  z-index: -10;
  width: 100%;
  top: -66vh;
}
section.consulting-parter .item-aws {
  width: 300px;
  margin: auto 0;
  margin-left: 90px;
  margin-right: 70px;
}
section.consulting-parter .consultas-partner {
  width: 520px;
  display: grid;
  height: 490px;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
section.consulting-parter .consultas-partner h2 {
  text-align: center;
  font-size: 55px;
}
section.consulting-parter .consultas-partner p {
  font-weight: 100;
  text-align: center;
  margin: auto;
  font-size: 19px;
  padding: 0px 15px;
}
section.consulting-parter .consultas-partner .items-partner1 {
  grid-row-start: 1;
  grid-row-end: 3;
  margin: auto;
  margin-top: 95px;
  width: -webkit-min-content;
  width: min-content;
  text-align: center;
}
section.consulting-parter .consultas-partner .items-partner2 {
  grid-row-start: 3;
  grid-row-end: 5;
}
section.consulting-parter .consultas-partner .items-partner3 {
  grid-row-end: 1;
  grid-row-start: 2;
  grid-column: 2;
}
section.consulting-parter .consultas-partner .items-partner4 {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column: 2;
  display: flex;
}
section.consulting-parter .consultas-partner .items-partner4 img {
  width: 130px;
  margin: auto;
}
section.consulting-parter .consultas-partner .items-partner5 {
  grid-row-start: 4;
  grid-row-end: 5;
}
section.consulting-parter .consultas-partner .items-partner6 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 3;
  margin: auto;
  margin-top: 95px;
  width: -webkit-min-content;
  width: min-content;
  text-align: center;
}
section.consulting-parter .consultas-partner .items-partner7 {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column: 3;
}
section.consulting-parter .man-partner {
  width: 450px;
  margin: auto 0px;
}
section.separador {
  height: 100px;
  background-image: url(../img/fondos/fondo-applying-web-02.jpg);
  background-position-y: 67%;
  width: 100%;
  filter: brightness(0.3);
}
section.separador .border-top {
  border-top: 3px solid white;
  width: 55%;
  margin: auto;
}
/*-------------WHY-APPLYING*/
section#why-applying {
  height: auto;
  overflow: hidden;
  position: relative;
}
section#why-applying img.background {
  position: absolute;
  z-index: -10;
  bottom: 0;
}
section#why-applying .title-section {
  margin: auto;
  text-align: center;
  margin-top: 40px;
}
section#why-applying .title-section h2 {
  font-size: 49px;
  font-weight: 300;
}
section#why-applying .title-section h2 strong {
  color: #F48B12;
}
section#why-applying .title-section p {
  width: 320px;
  margin: auto;
  margin-top: 15px;
  font-weight: 100;
}
section#why-applying .items-applying {
  width: 750px;
  margin: auto;
  position: relative;
  margin-top: 75px;
  height: 388px;
  display: grid;
  grid-template-columns: 275px auto 265px;
}
section#why-applying .items-applying img.fondo-applying {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
section#why-applying .items-applying .sub-items {
  width: 180px;
  margin: auto;
  text-align: center;
}
section#why-applying .items-applying .sub-items h3 {
  color: #F48B12;
  font-size: 25px;
  margin-top: 75px;
}
section#why-applying .items-applying .sub-items img {
  margin-top: 85px;
  width: 80%;
}
section#why-applying .items-applying .sub-items p {
  min-height: 76px;
}
section#why-applying .items-applying .sub-item-mid {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  cursor: default;
}
section#why-applying .items-applying .sub-item-mid h3 {
  margin-top: 100px;
}
section#why-applying .items-applying .sub-item-mid img {
  margin-top: -30px;
  width: 80%;
}
section#why-applying .aws-well {
  text-align: center;
  width: 770px;
  margin: auto;
  margin-top: 50px;
  height: 120px;
  padding: 0 170px;
  border-top: 2px solid white;
  padding-top: 30px;
}
section#why-applying .aws-well p:nth-child(2) {
  font-weight: 100;
  margin-top: 5px;
}
section#why-applying .marcas-aws {
  display: flex;
  flex-wrap: wrap;
  width: -webkit-max-content;
  width: max-content;
  margin: 30px auto;
}
section#why-applying .marcas-aws a {
  font-size: 13px;
  width: 111px;
  text-align: center;
  font-weight: 100;
}
/*---------FRAME BUILDING----------*/
#building {
  overflow: hidden;
  position: relative;
  height: auto;
}
#building img.background {
  bottom: -30%;
}
#building .title-section h2 {
  color: black;
}
#building .title-section p {
  color: black !important;
  margin-top: 10px;
}
#building .estadistica-aws {
  width: 70%;
  margin: 50px auto;
}
#building p.helped {
  width: 20%;
  margin: auto;
  text-align: center;
  color: black;
  margin-bottom: 30px;
  font-size: 20px;
}
/*---------SOLUTIONS---------------*/
section#solutions {
  height: auto;
  background: whitesmoke;
}
section#solutions .title-section h2 {
  color: black;
}
section#solutions .title-section p {
  color: black !important;
}
section#solutions .items-solutions {
  height: auto;
  min-height: 380px;
  width: 1200px;
  z-index: 30;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 70px;
}
section#solutions .items-solutions .sub-items-solutions {
  position: relative;
  display: flex;
  border-right: 2px solid black;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  height: 100%;
}
section#solutions .items-solutions .sub-items-solutions:hover {
  background: white;
}
section#solutions .items-solutions .sub-items-solutions img {
  width: 80%;
  margin: 0 auto;
}
section#solutions .items-solutions .sub-items-solutions h2 {
  color: black;
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 19px;
  margin: 0;
  margin-bottom: 10px;
}
section#solutions .items-solutions .sub-items-solutions p {
  color: black;
  width: 80%;
  text-align: center;
  font-size: 15px;
}
section#solutions .items-solutions .sub-items-solutions.active {
  background: white;
}
section#solutions .items-solutions .active:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  bottom: -40px;
  border-top: 40px solid white;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
}
section#solutions .items-solutions .tab-solution5 {
  border: none;
}
/*---------FRAME SOLUTION----------*/
section#frame-solution {
  display: flex;
  position: relative;
  overflow: hidden;
  padding: 150px 0px;
}
section#frame-solution .background {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
section#frame-solution .solutions-frame {
  width: 100%;
  display: flex;
}
section#frame-solution .solutions-frame .col.izq {
  width: 50%;
  float: left;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-rigth: 20px;
}
section#frame-solution .solutions-frame .col.izq h2.title-solution {
  font-size: 35px;
  margin: 20px 0;
  font-weight: 500;
}
section#frame-solution .solutions-frame .col.izq p {
  font-size: 19px;
  font-weight: 200;
  text-align: left;
}
section#frame-solution .solutions-frame .col.izq button {
  margin: 20px 0;
  height: 40px;
  color: white;
  background: #F69621;
  border-radius: 10px;
  border: unset;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  width: 240px;
  padding-left: 40px;
  padding-right: 20px;
  overflow: hidden;
  transition: 0.3s;
}
section#frame-solution .solutions-frame .col.izq button img {
  width: 20px;
  margin-right: 10px;
  position: absolute;
  left: 30px;
  top: 9px;
  transition: 0.3s;
}
section#frame-solution .solutions-frame .col.izq button:hover {
  padding-left: 20px;
}
section#frame-solution .solutions-frame .col.izq button:hover img {
  transform: translateX(30px) translateY(-30px);
}
section#frame-solution .solutions-frame .col.der {
  width: 50%;
  float: right;
  display: flex;
}
section#frame-solution .solutions-frame .col.der .video-applying {
  margin: auto;
}
section#frame-solution .solutions-frame .col.der .video-applying video {
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
}
section#frame-solution .solutions-frame .col.der p {
  text-align: right;
  margin-top: 20px;
}
section#frame-solution .none {
  display: none;
}
section#form {
  padding-top: 60px;
  position: relative;
  overflow: hidden;
  padding-bottom: 60px;
}
section#form img {
  top: -62%;
}
section#form form#contact {
  display: flex;
  flex-direction: column;
  width: 650px;
  margin: 0 auto;
  margin-top: 80px;
  border-bottom: 1px solid black;
  padding: 0 120px;
  padding-bottom: 50px;
}
section#form form#contact input[type="text"],
section#form form#contact input[type="email"],
section#form form#contact input[type="tel"],
section#form form#contact input[type="option"],
section#form form#contact select#solution {
  height: 45px;
  border: 1px solid black;
  margin: 8px 0;
  padding: 15px;
  border-radius: 22px;
}
section#form form#contact button {
  background-color: #F48B12;
  border: unset;
  color: white;
  width: 120px;
  padding: 10px;
  margin: auto;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
  margin-top: 40px;
}
section#form form#contact button img {
  width: 20px;
}
section#form p {
  color: #2a3543;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  margin-top: 35px;
  font-weight: 100;
  font-size: 20px;
}
section#form .clientes-logos {
  opacity: 1;
  text-align: center;
  margin-top: 15px;
}
section#form .clientes-logos img {
  margin: 0px 15px;
}
section#form img.background {
  top: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0px 39%;
}
/*FOOTER*/
footer {
  height: 50vh;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  align-items: center;
}
footer img.background {
  bottom: -275%;
}
footer .col-top {
  width: 140px;
  margin: 20px auto;
}
footer h2 {
  font-size: 13px;
  font-weight: 300;
  margin: 0 auto;
  word-spacing: 3px;
}
footer .rrss {
  width: 60%;
  margin: 0 auto;
  display: grid;
  height: 61px;
  position: relative;
  grid-template-columns: 25% 50% 25%;
}
footer .rrss .items-rrss {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 120px;
  align-content: space-evenly;
}
footer .rrss .items-rrss a {
  width: 40px;
}
footer .rrss .items-rrss-phone {
  display: grid;
  grid-template-columns: 40px auto;
  height: 120px;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
}
footer .rrss .items-rrss-mail {
  display: grid;
  grid-template-columns: 40px auto;
  height: 120px;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
}
footer .derechosreservados {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: 5px;
  letter-spacing: 1px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.1);
}
.iconos-flotantes {
  width: 180px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  min-height: 200px;
  align-items: center;
  position: fixed;
  bottom: calc(50% - 90px);
  right: 20px;
}
.iconos-flotantes .scroll-top,
.iconos-flotantes .lets-go,
.iconos-flotantes .whatsapp {
  display: grid;
  grid-template-columns: 70% 30%;
  color: #F69621;
  align-items: center;
}
.iconos-flotantes .scroll-top p,
.iconos-flotantes .lets-go p,
.iconos-flotantes .whatsapp p {
  text-align: right;
  margin-right: 10px;
}

.scrollTopJs {
  opacity: 0;
  transition: 0.3s;
}
.scrollTopJs.active {
  opacity: 1;
}


/*RESPONSIVE*/
@media screen and (min-width: 300px) and (max-width: 600px) {
  .videoBackground {
    display: none;
  }
  .clientes-logos {
    opacity: 1 !important;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    place-content: space-evenly;
  }
  .clientes-logos img {
    padding: 8px;
  }
  .title-section h2 {
    font-size: 35px;
    width: 300px;
    margin: auto;
  }
  .title-section p {
    color: black;
    margin-top: 10px;
    width: 210px;
    margin: auto;
  }
  img.background {
    display: none;
  }
  header nav.menu-header {
    display: none;
  }
  #first-frame {
    background-image: url(../img/fondos/fondo-applying-web-01.png);
    background-position-y: center;
    padding: 0 15%;
  }
  #first-frame img.background {
    display: none;
  }
  #first-frame .your-partner .absolute-1,
  #first-frame .your-partner .absolute-2,
  #first-frame .your-partner .absolute-3,
  #first-frame .your-partner .absolute-4 {
    display: none;
  }
  #first-frame .your-partner .item-partner h2,
  #first-frame .your-partner .item-partner h3 {
    font-size: 40px;
  }
  #first-frame .your-partner .item-partner button {
    padding: 10px;
  }
  section.consulting-parter {
    background-image: url(../img/fondos/fondo-applying-web-02.jpg);
    flex-wrap: wrap;
    padding-bottom: 20px;
    height: auto;

  }
  section.consulting-parter .item-aws {
    width: 50%;
    margin: unset;
    margin-top: 40px;
    float: left;
    display: inline-block;
    order: -2;
  }
  section.consulting-parter .man-partner {
    width: 50%;
    margin: auto;
    order: -1;
    margin-top: 45px;
  }
  section.consulting-parter .consultas-partner h2 {
    font-size: 35px;
  }
  section.consulting-parter .consultas-partner p {
    font-size: 13px;
  }
  section.consulting-parter .consultas-partner .items-partner4 img {
    width: 100px;
    margin: auto;
  }
  section.consulting-parter .consultas-partner .items-partner3 {
    margin-top: 21px;
  }
  section.separador {
    display: none;
  }
  section#why-applying {
    background-image: url(../img/fondos/fondo-applying-web-02.jpg);
    background-position-y: 44%;
    padding-bottom: 30px;
  }
  section#why-applying .title-section h2 {
    font-size: 35px;
  }
  section#why-applying .title-section p {
    font-size: 15px;
    padding: 0 17%;
  }
  section#why-applying .items-applying {
    display: none;
  }
  section#why-applying .items-applying-res {
    display: block;
  }
  section#why-applying .items-applying-res .sub-items {
    display: grid;
    grid-template-rows: 50% 50%;
  }
  section#why-applying .items-applying-res .sub-items img {
    width: 120px;
    margin: 20px auto;
  }
  section#why-applying .items-applying-res .sub-items .exagono {
    display: flex;
    justify-content: center;
    width: 170px;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    font-size: 15px;
  }
  section#why-applying .items-applying-res .sub-items .exagono img {
    width: 240px;
    margin: 0 auto;
    position: absolute;
    left: calc(50% - 120px);
    margin-top: 0px;
  }
  section#why-applying .items-applying-res .sub-items .exagono h3 {
    color: #F48B12;
  }
  section#why-applying .items-applying-res .sub-item-mid {
    margin-top: 80px;
  }
  section#why-applying .items-applying-res .sub-items-nth {
    margin-top: 80px;
  }
  section#why-applying .items-applying-res .sub-items-nth img {
    margin-bottom: 50px;
  }
  .videoResponsive {
    margin-top: 20px;
  }
  section#why-applying .aws-well {
    width: 300px;
    margin: auto;
    margin-top: 85px;
    padding: 0;
    padding-top: 30px;
  }
  section#why-applying .marcas-aws {
    width: 300px;
    margin: auto;
    justify-content: center;
  }
  section#why-applying .marcas-aws a {
    font-size: 8px;
    width: 25%;
    text-align: center;
    font-weight: 100;
    min-height: 30px;
  }
  section#why-applying .marcas-aws a img {
    padding: 13px;
    display: block;
  }
  #building {
    background-image: url(../img/fondos/fondo-applying-web-04.jpg);
    background-position-y: 50%;
  }
  #building p.helped {
    width: 200px;
  }
  #building .estadistica-aws {
    position: relative;
  }
  #building .estadistica-aws .img-full {
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 15px;
    height: 30px;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    top: calc(50% - 15px);
    position: absolute;
    padding: 0 15px;
    margin: 0 10%;
  }
  .iconos-flotantes {
    display: none;
  }
  section#solutions .items-solutions {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    margin-top: 20px;
  }
  section#solutions .items-solutions .active:before {
    left: calc(50% - 40px);
  }
  section#solutions .items-solutions .sub-items-solutions {
    border: unset;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    margin: 0 10%;
  }
  section#solutions .items-solutions .sub-items-solutions img {
    width: 50%;
    margin: 0 auto;
  }
  section#solutions .items-solutions .sub-items-solutions p {
    display: none;
  }
  section#solutions .items-solutions .tab-responsive {
    background-image: url(../img/fondos/fondo-applying-web-07.jpg);
    padding: 15% 10%;
    display: block;
    margin-top: -2px;
    display: none;
  }
  section#solutions .items-solutions .tab-responsive.tab-active {
    display: block;
  }
  section#solutions .items-solutions .tab-responsive h2 {
    text-align: center;
    font-size: 23px;
  }
  section#solutions .items-solutions .tab-responsive p {
    font-weight: 100;
    margin-top: 25px;
  }
  section#solutions .items-solutions .tab-responsive .buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 45px;
  }
  section#solutions .items-solutions .tab-responsive .buttons .boton-lets {
    width: -webkit-max-content;
    width: max-content;
    font-size: 12px;
    background: #F69621;
    display: flex;
    align-items: center;
    padding: 3px 15px;
    border-radius: 15px;
  }
  section#solutions .items-solutions .tab-responsive .buttons .boton-lets img {
    width: 20px;
  }
  section#solutions .items-solutions .tab-responsive .buttons .boton-watch {
    width: -webkit-max-content;
    width: max-content;
    font-size: 12px;
    background: red;
    display: flex;
    align-items: center;
    padding: 3px 15px;
    border-radius: 15px;
  }
  section#solutions .items-solutions .tab-responsive .buttons .boton-watch img {
    width: 20px;
  }
  section#frame-solution {
    display: none;
  }
  section#form {
    background-position-y: -120%;
    background-position-x: -60%;
    background-image: url(../img/fondos/fondo-applying-web-06.jpg);
    height: auto;
  }
  section#form form#contact {
    width: 300px;
    padding: 0;
  }
  section#form form#contact button {
    margin-bottom: 30px;
    margin-top: 25px;
  }
  section#form p.our-partners {
    color: black;
    font-weight: 400;
  }
  footer {
    background-image: url(../img/fondos/fondo-applying-web-02.jpg);
    background-size: cover;
  }
  footer .rrss {
    display: flex;
    margin-top: 30px;
  }
  footer .rrss .items-rrss {
    display: flex;
    min-width: 60px;
    flex-wrap: wrap;
    height: -webkit-max-content;
    height: max-content;
    align-content: unset;
  }
  footer .rrss .items-rrss a {
    width: 30px;
  }
  footer .rrss .items-rrss-phone {
    height: 30px;
    min-width: -webkit-max-content;
    min-width: max-content;
    grid-gap: 0;
  }
  footer .rrss .items-rrss-phone img {
    width: 30px;
  }
  footer .rrss .items-rrss-phone p {
    min-width: 100%;
  }
  footer .rrss .items-rrss-mail {
    height: 30px;
    min-width: -webkit-max-content;
    min-width: max-content;
    grid-gap: 0;
    position: absolute;
    bottom: 0;
    right: -25px;
  }
  footer .rrss .items-rrss-mail img {
    width: 30px;
  }
  footer .derechosreservados {
    text-align: center;
    justify-content: center;
    padding: 15px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  #first-frame {
    height: auto;
    padding: 70px;
  }
  #first-frame img.background {
    position: absolute;
    z-index: -10;
    width: 100%;
    top: unset;
  }
  section.consulting-parter {
    height: auto;
    padding: 40px 0;
  }
  section.consulting-parter .consultas-partner {
    width: auto;
    height: 380px;
  }
  section.consulting-parter img.background {
    top: 0;
  }
  section.consulting-parter .item-aws {
    width: 25%;
    margin-left: 0;
  }
  section#building .title-section p {
    color: black !important;
    margin-top: 10px !important;
  }
  section#building p.helped {
    width: -webkit-max-content;
    width: max-content;
    text-align: center;
  }
  section#solutions .items-solutions {
    width: auto;
  }
  section#solutions .items-solutions .tab-responsive {
    background-image: url(../img/fondos/fondo-applying-web-07.jpg);
    padding: 15% 10%;
    display: block;
    margin-top: -2px;
  }
  section#frame-solution {
    height: auto;
    padding: 30px 0;
  }
  section#frame-solution .solutions-frame .col.izq p {
    font-size: 15px;
  }
  section#why-applying .marcas-aws a {
    font-size: 11px;
    width: 25%;
    text-align: center;
    font-weight: 100;
    min-height: 30px;
    margin-bottom: 20px;
  }
  section#why-applying .marcas-aws a img {
    padding: 5px;
    margin-bottom: 5px;
  }
  section#form {
    height: auto;
  }
  section#form img {
    top: 0;
  }
  section#form p,
  section#form h2 {
    color: black;
  }
  footer {
    height: auto;
    min-height: 350px;
  }
  footer img.background {
    bottom: 0;
  }
  footer .rrss {
    width: auto;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  #first-frame {
    height: auto;
    padding: 70px;
    min-height: 600px;
  }
  #first-frame img.background {
    position: absolute;
    z-index: -10;
    width: 100%;
    top: unset;
  }
  section.consulting-parter {
    height: auto;
    padding: 40px 0;
  }
  section.consulting-parter img.background {
    top: 0;
  }
  section.consulting-parter .item-aws {
    width: 25%;
    margin-left: 0;
  }
  section#building p.helped {
    width: -webkit-max-content;
    width: max-content;
    text-align: center;
  }
  section#solutions .items-solutions {
    width: auto;
  }
  section#frame-solution {
    height: auto;
    padding: 30px 0;
  }
  section#frame-solution .solutions-frame .col.izq p {
    font-size: 15px;
  }
  section#form {
    height: auto;
  }
  section#form img {
    top: 0;
  }
  section#form p,
  section#form h2 {
    color: black;
  }
  footer {
    height: auto;
    min-height: 350px;
  }
  footer img.background {
    bottom: 0;
  }
  footer .rrss {
    width: auto;
  }
}